body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRbSo6_bu06KG4Utq6WAYe9OXW6qa_Hv78qQ&s");
    color: rgb(236, 228, 228);
    padding: 20px;
    font-family: arial,;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: darkred;
   margin: 0 auto;
   margin-bottom: 20px;
    display: flex;
    padding: 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(236, 227, 227);
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #f1e9e9;
}

/* main container area beneath menu */
main {
    background-color:black;
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 4px rgb(242, 7, 7) ridge;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}
/* portfolio styles */
.content h1 {
    color: rgb(230, 13, 13);
}

#portfolio {
    list-style-type: none;
    padding-left: 0;
}

#portfolio li {
    background: #0c0c0c;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#portfolio li:hover {
    background: #e40c0c;
}

#portfolio a {
    text-decoration: none;
    color: #dad2d2;
}